<div class="body">
  <div class="container">
    <div class="row">
      <%= render 'users/sidebar', book: @book ,user: @user %>
        <div class="col-lg-9">
          <h2>Books</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Opinion</th>
                  <th colspan="3"></th>
                </tr>
                <tr>
                  <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
                  <td><%= @book.title %></td>
                  <td><%= @book.body %></td>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>